<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <title>Welcome</title>
</head>
<% include partials/nav %>
<% include partials/main1 %>

<%if (isCaterer){%>
<div>
    
 
     <h1>Thank You <%=user.username%>! <br> 
    You have created an order package of <%=order.type%> for sale!</h1> 
    
</div>

<%}else{%>


    <h1> Congratulations <%=user.username%>! </h1> <br>
    <h2>You have placed an order for <%=order.type%> from <%=order.caterer%></h2>

    <%}%>


<% include partials/main2 %>
<% include partials/scripts %>

</html>