<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>
<% include ../partials/nav %>
<% include ../partials/main1%>


<%if (isCaterer){%>
      <h1>This is Caterer <%=user.username%>'s Orders</h1>
      <h1><%=order.caterer+ "'s" + order.type%></h1>
    <a class="btn btn-primary" href="/order/<%=order._id%>/edit" role="button">Edit</a>

        <form action="/order/<%=order._id%>?_method=DELETE" method="post">
            <input class="btn btn-secondary" type="submit" value="Delete Order"/>
        </form>


<%}else{%>
    <h1>This is Customer <%=user.username%>'s Orders</h1>
      <h1><%=order.caterer+ "'s" + order.type%></h1>
    <a class="btn btn-primary" href="/order/<%=order._id%>/edit" role="button">Edit</a>

        <form action="/order/<%=order._id%>?_method=DELETE" method="post">
            <input class="btn btn-secondary" type="submit" value="Delete Order"/>
        </form>



<%}%>





<% include ../partials/main2 %>
<% include ../partials/scripts %>
</html>
