<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
  <title>Edit User</title>
</head>
<% include ../partials/nav %>
<% include ../partials/main1%>


<%if (isCaterer){%>
      

  <ul>
      <% user.forEach((order)=>{ %>
            <li>
                <h2><a href="/order/<%=order._id%>"><%=order.caterer%>'s  <%=order.type%></a><h2>
            </li>
      <% }) %>
  </ul>




  
      <h1><%=order.caterer+ "'s " + order.type%></h1>
    <a class="btn btn-primary" href="/order/<%=order._id%>/edit" role="button">Edit</a>

        <form action="/order/<%=order._id%>?_method=DELETE" method="post">
            <input class="btn btn-secondary" type="submit" value="Delete Order"/>
        </form>


<%}else{%>
    <h1>This is Customer 's Orders</h1>
      <h1><%=order.caterer+ "'s " + order.type%></h1>
    

       


        <div class="btn-toolbar center-buttons" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
           
            <a class="btn btn-primary" href="/order/<%=order._id%>/edit" role="button">Edit</a>
        </div>
     
        <div class="btn-group mr-2" role="group" aria-label="First group">
           
          <a class="btn btn-primary" href="/order/<%=order._id%>/confirm" role="button">Buy</a>
      </div>
        
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <form action="/order/<%=order._id%>?_method=DELETE" method="post">
              <input class="btn btn-secondary" type="submit" value="Delete Order"/>
          </form>
           
        </div>
        </div>

<%}%>





<% include ../partials/main2 %>
<% include ../partials/scripts %>
</html>
